<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Изменить пользователя</h1>
<br/><br/>

<form method="POST" th:action="@{'/useredit?id=' + ${user.getId()}}" th:object="${user}">
    <div th:if="${user}">
        <table>
            <tr th:if="${user.id}">
                <td>ID:</td>
                <td th:utext="${user.id}">...</td>
            </tr>
            <tr>
                <td><label for="name">Имя</label></td>
                <td><input th:type="text" th:field="${user.name}" id="name"/></td>
            </tr>
            <tr>
                <td><label for="lastname">Фамилия</label></td>
                <td><input th:type="text" th:field="${user.lastname}" id="lastname"/></td>
            </tr>
            <tr>
                <td><label for="age">Возраст</label></td>
                <td><input th:type="text" th:field="${user.age}" id="age"/></td>
            </tr>
            <tr>
                <td><label for="email">Почта</label></td>
                <td><input th:type="text" th:field="${user.email}" id="email"/></td>
            </tr>

            <tr>
                <td><label for="password">Пароль</label></td>
                <td><input th:type="text" th:field="${user.password}" id="password"/></td>
            </tr>

            <tr>
                <td><label for="roles">Доступ</label></td>
                <td><input th:type="text" th:field="${user.roles}" id="roles"/></td>
            </tr>



        </table>
    </div>
    <input type="submit" value="Изменить"/>
</form>

</body>
</html>
l>